* {
    margin: 0;
    padding: 0;
}

#aboutMe img {
    margin-top: 100px;
}

#mySkills {
    text-align: center;
    margin-top: 20px;
}

#myWorks {
    background-color: #e9ecef;
}

div.card a,
#contactMe a {
    box-shadow: inset 0 0 0 0 #007bff;
    color: #007bff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

div.card a:hover,
#contactMe a:hover {
    box-shadow: inset 210px 0 0 0 #007bff;
    color: white;
}

.card {
    margin-top: 20px;
}

#contactMe {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contactMe .row {
    margin-top: 20px;
    margin-bottom: 20px;

}

.col {

    margin-bottom: 20px;
}

footer {
    display: flex;
    height: 100px;
    text-align: center;
    background-color: #e9ecef;
    align-items: center;
}