* {
    margin: 0;
    padding: 0;
}

a.nav-link.active {
    text-decoration: underline;
}

#aboutMe {
    margin-top: 100px;
}

div.card a {
    box-shadow: inset 0 0 0 0 #007bff;
    color: #007bff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

div.card a:hover {
    box-shadow: inset 100px 0 0 0 #007bff;
    color: white;
}

.card {
    margin-top: 20px;
}